---
layout: default
title: Home
---

{% include header.html %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">

      {% for post in paginator.posts %}

          <div class="post-preview">
            <h3 class="post-title">
              <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            </h3>
            <hr>
          </div>

      {% endfor %}
      
    </div>
  </div>

      
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

</div>
