.nav {
	padding-bottom: 2.5rem;
}
.navbar-brand {
	font-size: 1.25rem;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: #505050;
}

a {
	color: #0085a1;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0085a1;
	text-decoration: underline;
}