<header class="intro-header hero-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">
                <div class="site-heading">
                    <img class="avatar" src="/public/images/avatar_closer.jpg" alt="Avatar">
                    <h3>{{ site.welcome }}</h3>
                    <hr class="small">
                    <h4 class="subheading">{{ site.experience }}</h4>
                </div>
            </div>
        </div>
    </div>
</header>