<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    <div class="container">
      {% include nav.html %}
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

            {{ content }}

            {% include share.html %}
            {% include comments.html %}

            {% include footer.html %}
    
      </div>
    </div>

    </div>

  </body>
</html>
