<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/default.min.css">
    <link rel="stylesheet" href="http://highlightjs.org/static/styles/monokai_sublime.css">
    <script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
    <script>
    hljs.initHighlightingOnLoad();
    </script>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.2.1/stylesheets/app.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.2.1/stylesheets/foundation.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.2.1/stylesheets/foundation.min.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="css/app.css" />

</head>

<body>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h1>@yeradis</h1>
            </div>
        </div>
    </div>

    <div class="row">
    <!-- body content here -->
    {{ content }}

    </div>

    <script src="//cdn.jsdelivr.net/foundation/5.2.1/js/vendor/jquery.js"></script>

    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/app.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/foundation.min.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.accordion.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.alerts.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.buttons.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.forms.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.navigation.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.orbit.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.reveal.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.tabs.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.tooltips.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.foundation.topbar.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/jquery.placeholder.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.2.1/javascripts/modernizr.foundation.js"></script>
    <script>
    $(document).foundation();
    </script>


</body>

</html>
